<div class="row">
	<div class="col-md-2">
		<div class="list-group  position">
			<div class="row">
				<div class="col-md-12 col-xs-6">
					<a ng-click="newadd()" ui-sref="index.allfile" class="list-group-item active">
				    	<span class="glyphicon glyphicon-folder-open"></span>
							   所有文件
				  	</a>
				</div>
				<div class="col-md-12 col-xs-6">
		 			<a ng-click="newadd()" ui-sref="index.movie" class="list-group-item col-ms-3"><span class="glyphicon glyphicon-film"></span>视频</a>
				</div>
				<div class="col-md-12 col-xs-6">
		 			<a ng-click="newadd()" ui-sref="index.picture" class="list-group-item"><span class="glyphicon glyphicon-picture"></span>图片</a>
				</div>
				<div class="col-md-12 col-xs-6">
		 			<a ng-click="newadd()" ui-sref="index.music" class="list-group-item"><span class="glyphicon glyphicon-headphones"></span>音乐</a>
					
				</div>
				<div class="col-md-12 col-xs-6">
		 	<a ng-click="newadd()" ui-sref="index.alt" class="list-group-item"><span class="glyphicon glyphicon-list-alt"></span>文档</a>
					
				</div>
				<div class="col-md-12 col-xs-6">
		 	<a ng-click="newadd()" ui-sref="index.share" class="list-group-item"><span class="glyphicon glyphicon-share"></span>我的分享</a>
					
				</div>
				<div class="col-md-12 col-xs-6">
		 			<a ng-click="newadd()" ui-sref="index.heart" class="list-group-item"><span class="glyphicon glyphicon-heart"></span>保险箱</a>
				</div>
				<div class="col-md-12 col-xs-6">
		 			<a ng-click="newadd()" ui-sref="index.reseve" class="list-group-item"><span class="glyphicon glyphicon-envelope"></span>收件箱</a>
				</div>
				<div class="col-md-12 col-xs-6">
					<a ng-click="newadd()" ui-sref="index.junk" class="list-group-item"><span class="glyphicon glyphicon-trash"></span>回收站</a>
				</div>
			</div>
		    




		</div>
	</div>
	<div class="col-md-10">
		<div class="row">
			<form>
				<div class="col-md-8">
					<div class="btn-toolbar" role="toolbar" aria-label="...">
					  	<div class="btn-group" role="group" aria-label="...">
							<a class="btn btn-primary"><span class="glyphicon glyphicon-upload">&nbsp;</span>上传</a>
					  	</div>
					 	<div class="btn-group" role="group" aria-label="...">
							<a class="btn btn-default"><span class="glyphicon glyphicon-plus-sign">&nbsp;</span>新建文件夹</a>	
					 	</div>
					 	<div class="btn-group" role="group" aria-label="...">
							<a ng-click="allselect()" class="btn btn-default"><span class="glyphicon glyphicon-check">&nbsp;</span>全选</a>	
					 	</div>
					 	<div class="btn-group" role="group" aria-label="...">
							<a ng-click="deletes()" class="btn btn-default"><span class="glyphicon glyphicon-remove-circle">&nbsp;</span>删除</a>	
					 	</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="input-group">
					    <input type="text" class="form-control" placeholder="文件名称" aria-describedby="basic-addon2">
					    <span class="input-group-addon" id="basic-addon2">搜索</span>
					</div>
				</div>
			</form>
		</div>
		<div class="row">
			<div class="col-md-11 main-top">
				<div ui-view></div>
			</div>
		</div>
	</div>
</div>
