//.item,.img-code{
//  background: url(img/toolbar.png);
//  background-repeat: no-repeat;
//}
//$toolbarw-size:52px;
//.toolbar{
//  position: fixed;
//  left: 50%;
//  bottom: 10px;
//  margin-left: -$toolbarw-size / 2;
//}
//.item{
//  position: relative;
//  display: block;
//  width: $toolbarw-size;
//  height: $toolbarw-size;
//  margin-top: 1px;
//  @include transition(all 0.95s);
//  &:hover{
//     .img-code{
//      opacity: 1;
//      filter: alpha(opacity=100);
//      @include transform(scale(1));
//      } 
//  }
//}
//.item-advise{
//    @include toolbarpo(-426px,-488px);
//  .img-one{
//      height: 194px;
//      background-position: 6px 0;
//  }
//}
//.item-phone{
//   @include toolbarpo(-550px,-612px);
//}     
//.item-weixin{
//   @include toolbarpo(-798px,-860px);
//  .img-two{
//      height: 212px;
//      background-position: 6px 0;
//  }
//}
//.item-top{
//   @include toolbarpo(-679px,-740px);
//}
//.img-code{
//  position: absolute;
//  right: $toolbarw-size;
//  width: 172px;
//  bottom: 40px;
//  opacity: 0.01;
//  @include transition(all 0.55s);
//  filter: alpha(opacity=0);
//  @include transform(scale(0));
//  @include transform-origin( bottom right);
//  
//}


//$toolbarw-size:52px;
//.toolbar-container,.item-line,.item-icon,.item-text{
//  width: $toolbarw-size;
//  height: $toolbarw-size;
//}
//.toolbar{
//  position: fixed;
//  left: 50%;
//  bottom: 5px;
//  margin-left: -$toolbarw-size / 2;
//}
//.toolbar-container{
//  position: relative;
//  margin-top:1px; 
//  &:hover{
//      .item-icon{
//          top: -$toolbarw-size;
//      }
//      .item-text{
//          top: 0;
//      }
//      .one{
//          opacity: 1;
//          filter: alpha(opacity=100);
//          @include transform(scale(1));
//      }
//       .two{
//          opacity: 1;
//          filter: alpha(opacity=100);
//          @include transform(scale(1));
//      }
//  }
//  
//}
//.item-line{
//      display: block;
//      position: absolute;
//      left: 0;
//      top: 0;
//      
//      overflow: hidden;
//      
//      .item-icon{
//          display: block;
//          position: absolute;
//          top: 0;
//          left: 0;
//          color: #333;
//          font-size: 20px;
//          background: #D7D7D7;
//          text-align: center;
//          line-height:$toolbarw-size ;
//          @include transition(top 1s);
//      }
//      .item-text{
//          display: block;
//          position: absolute;
//          top: $toolbarw-size;
//          left: 0;
//          font-size: 12px;
//          background: #333;
//          color: #fff;
//          text-align: center;
//          padding-top: 6px;
//          box-sizing: border-box;
//          text-decoration: none;
//          @include transition(top 1s);
//      }   
//  }
//.item-img{
//  position: absolute;
//  display: block;
//  width: 172px;
//  height: 200px;
//  bottom: -5px;
//  right: $toolbarw-size - 6px;
//  background: url(img/toolbar_img.png);
//  background-repeat:no-repeat ;
//  opacity: 0;
//  filter: alpha(opacity=0);
//  @include transform(scale(0.01));
//  @include transform-origin(95% 95%);
//  @include transition(all 1s);
//}
//.one{
//  background-position:0 0 ;
//} 
//.two{
//  background-position:0 -210px;
// 
//}   

$toolbar-size:52px;

.toolbar{
    position: fixed;
    left: 50%;
    bottom: 5px;
    margin-left: -$toolbar-size / 2;
    
}
.item-con{
    position: relative;
    width: $toolbar-size;
    height: $toolbar-size;
    margin-top: 1px;
   
    &:hover{
        .item:before{
            top: -$toolbar-size;
        }
         .item:after{
            top: 0;
        }
        &:after{
            opacity: 1;
            filter: alpha(opacity=100); 
            @include transform(scale(1));
        }
    }
    
    &:after{
        content: "";
        position: absolute;
        display: block;
        width: 172px;
        bottom: -20px;
        right: $toolbar-size - 6px;
        background: url(img/toolbar_img.png);
        background-repeat:no-repeat ;
    }
   

}
.talk:after{
    content: "";
    background-position:0 0 ;
    height: 220px;
    opacity: 0;
    filter: alpha(opacity=0);
    @include transform(scale(0.01));
    @include transform-origin(95% 95%);
    @include transition(all 1s);
}
.app:after{
    content: "";
    background-position:0 -240px;
    height: 220px;
    opacity: 0;
    bottom: -55px;
    filter: alpha(opacity=0);
    @include transform(scale(0.01));
    @include transform-origin(95% 95%);
    @include transition(all 1s);
}
.item{
    position: absolute;
    width: $toolbar-size;
    height: $toolbar-size;
    overflow: hidden;
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    overflow: hidden;

   /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.item:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: $toolbar-size;
    height: $toolbar-size;
    background: #ddd;
    font-size: 18px;
    text-align: center;
    line-height: $toolbar-size;
    color: #333;
    @include transition(all 1s);
}
.item:after{
    content: "";
    position: absolute;
    top: $toolbar-size;
    left: 0;
    display: block;
    width: $toolbar-size;
    height: $toolbar-size;
    background: #333;
    font-size: 12px;
    padding-top: 12px;
    text-align: center;
    line-height: 1.2;
    color: #fff;
    @include transition(all 1s);
    white-space: pre;
}
.talk {
    .item-talk:before{
    content: '\e900';
    }
    .item-talk:after{
    content: '公众\A 账号';
    }
}
.weixin {
    .item-weixin:before{
    content: '\e901';
    }
    .item-weixin:after{
    content: '微信\A 账号';
    }
}
.app {
    .item-app:before{
    content: '\e958';
    }
    .item-app:after{
    content: 'APP\A下载';
    }
}
.top {
    .item-top:before{
    content: '\ea32';
    }
    .item-top:after{
    content: '返回\A顶部';
    }
}
