@charset "UTF-8";
body {
  background: #fff;
}

header {
  min-width: 1339px;
  height: 80px;
  background: #f9f9f9;
}

.headContainer {
  width: 1300px;
  margin: 0 auto;
  height: 80px;
}

.head-left {
  float: left;
  width: 870px;
}
.head-left img {
  position: absolute;
  margin-top: 20px;
  cursor: pointer;
}

ul.head-nav {
  width: 400px;
  margin-left: 160px;
}
ul.head-nav li {
  display: inline-block;
  width: 60px;
  line-height: 80px;
  text-align: center;
}
ul.head-nav li a {
  display: block;
  font-size: 16px;
}
ul.head-nav li a:hover {
  color: #FF0033;
}

.head-right {
  float: right;
  width: 430px;
  height: 80px;
}
.head-right form {
  position: relative;
  float: left;
  margin-left: -10px;
  height: 30px;
  margin-top: 25px;
  border-bottom: 1px solid #ddd;
  width: 250px;
}
.head-right form input[type="text"] {
  background: #f9f9f9;
  border: none;
  outline: none;
  width: 220px;
  height: 28px;
  line-height: 28px;
  font-size: 13px;
  color: #666;
}
.head-right form label {
  font-family: "iconfont";
  font-size: 20px;
  color: #666;
  position: absolute;
  height: 30px;
  width: 30px;
  right: 0;
  cursor: pointer;
}
.head-right form label:hover {
  color: #FF0033;
}
.head-right form input[type="submit"] {
  border: none;
  outline: none;
  opacity: 0;
  filter: alpha(opacity=0);
  font-size: 0;
}
.head-right div.getin {
  float: right;
  width: 180px;
  height: 80px;
  margin-top: 20px;
  text-align: center;
}
.head-right div.getin .erweima {
  display: none;
  z-index: 2;
  position: absolute;
  margin-top: 64px;
  margin-left: -50px;
  background: #fff;
  padding: 20px;
  border: 1px solid #ddd;
}
.head-right div.getin .erweima p.equipment {
  color: #666;
}
.head-right div.getin .erweima p.equipment:before {
  content: "";
  position: absolute;
  top: -16px;
  left: 74px;
  width: 0;
  height: 0;
  border: 8px solid;
  border-color: transparent transparent #f5f5f5;
}
.head-right div.getin .icon-phone {
  font-family: "iconfont";
  font-size: 24px;
  vertical-align: middle;
  color: #666;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.head-right div.getin .icon-phone:hover {
  color: #FF0000;
}
.head-right div.getin a {
  display: inline-block;
  width: 55px;
  line-height: 40px;
  color: #666;
}
.head-right div.getin a:hover {
  color: #FF0000;
}

nav {
  min-width: 1339px;
  height: 460px;
}
nav .container {
  position: relative;
  overflow: hidden;
  backface-visibility: hidden;
  margin: 0 auto;
  width: 1200px;
  height: 460px;
  background: #fff;
}

.nav-list {
  position: absolute;
  z-index: 2;
}
.nav-list ul {
  width: 250px;
  height: 448px;
  padding: 6px 0;
  background: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.nav-list ul li {
  width: 250px;
}
.nav-list ul li:hover {
  background: rgba(0, 0, 0, 0.4);
}
.nav-list ul li:hover .hide {
  display: block;
}
.nav-list ul li a {
  display: block;
  width: 200px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(96, 96, 96, 0.9);
  font: 16px/63px "微软雅黑";
  color: #fff;
}
.nav-list ul li span {
  font-family: "iconfont";
  float: right;
  font-size: 10px;
}
.nav-list ul li:last-child a {
  border: none;
}

.nav-list .hide {
  position: absolute;
  top: 0;
  width: 730px;
  height: 460px;
  margin-left: 250px;
}
.nav-list .hide .hide-content {
  margin: 20px 0 0 20px;
}
.nav-list .hide h3 {
  color: #FF0000;
  margin: 20px 0;
}
.nav-list .hide i {
  font-style: normal;
  font-size: 15px;
  padding: 0 5px;
  cursor: pointer;
}
.nav-list .hide i:hover {
  text-decoration: underline;
}

.nav-list .nav-item-1 .hide {
  background: url(../images/fe.png);
}

.nav-list .nav-item-2 .hide {
  background: url(../images/data.png);
}

.nav-list .nav-item-3 .hide {
  background: url(../images/mobile.png);
}

.nav-list .nav-item-4 .hide {
  background: url(../images/photo.png);
}

.nav-list .nav-item-5 .hide {
  background: url(../images/yjs.png);
}

.nav-list .nav-item-6 .hide {
  background: url(../images/yw.png);
}

.nav-list .nav-item-7 .hide {
  background: url(../images/be.png);
}

.hide {
  display: none;
}

#J_body li {
  position: absolute;
}

#J_con {
  backface-visibility: hidden;
  background: #fff;
  top: 0;
  left: 0;
  z-index: 1;
  height: 466px;
  width: 1200px;
  position: relative;
  overflow: hidden;
}

#J_body {
  position: relative;
  width: 100%;
  height: 466px;
}

#J_body img {
  width: 1200px;
}

#J_con span {
  position: absolute;
  width: 40px;
  background: rgba(1, 1, 1, 0);
  color: #fff;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  line-height: 70px;
  cursor: pointer;
  z-index: 2;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
#J_con span:hover {
  background: rgba(1, 1, 1, 0.5);
}
#J_con span.prev {
  left: 250px;
  top: 50%;
  margin-top: -35px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
#J_con span.next {
  z-index: 5;
  right: 0;
  top: 50%;
  margin-top: -35px;
}

#J_con .mouji {
  z-index: 2;
  position: absolute;
  bottom: 30px;
  width: 400px;
  height: 20px;
  text-align: center;
  right: -90px;
}

#J_con .mouji a {
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #333;
  margin-right: 5px;
  border: 2px solid #999;
}

#J_con .mouji a.active {
  background: #fff;
}

section.lesson-practice {
  min-width: 1339px;
}
section.lesson-practice .contain {
  width: 1200px;
  margin: 10px auto;
}
section.lesson-practice .practice {
  width: 100%;
  line-height: 50px;
}
section.lesson-practice .practice h3 {
  width: 500px;
  font-size: 16px;
  font-weight: 400;
}
section.lesson-practice .practice a {
  float: right;
  margin-top: -50px;
  line-height: 50px;
}
section.lesson-practice .practice a:hover {
  color: #666;
}
section.lesson-practice .practice a i {
  font-family: "iconfont";
  font-size: 9px;
  vertical-align: middle;
}

#model {
  width: 1200px;
  height: 180px;
}
#model .lesson {
  width: 104%;
  height: 174px;
  margin-right: -10px;
}

li#model-item {
  position: relative;
  float: left;
  width: 224px;
  height: 174px;
  overflow: hidden;
  margin-right: 20px;
  box-shadow: 0px 2px 3px #333;
  cursor: pointer;
}
li#model-item:hover {
  box-shadow: 0px 3px 8px #000;
}
li#model-item .top {
  position: absolute;
  top: 90px;
  width: 100%;
  height: 130px;
  background: #fff;
}
li#model-item .top h3 {
  font: normal 15px/30px "微软雅黑";
  width: 92%;
  margin: 0 auto;
}
li#model-item .top p {
  font: normal 12px/20px "微软雅黑";
  width: 92%;
  color: #666;
  margin: 0 auto;
}
li#model-item .price {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 30px;
  background: #fff;
}
li#model-item .price a {
  color: #FF0000;
  margin-left: 5px;
}
li#model-item .price a.good-lesson {
  color: #999;
}
li#model-item .price i {
  float: right;
  margin-right: 5px;
  color: #999;
  font-size: 12px;
}

section.web {
  min-width: 1339px;
  background: #f5f5f5;
  margin-top: 50px;
}
section.web .container {
  width: 1200px;
  padding: 50px 0 0px;
  height: 366px;
  margin: 0px auto;
}

.web-left {
  float: left;
  width: 224px;
  height: 364px;
  padding-left: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-right: 20px;
  background: url(../images/Web.png);
}
.web-left h3, .web-left h4 {
  font-size: 30px;
  line-height: 40px;
  color: #fff;
}
.web-left h3 {
  margin-top: 30px;
}
.web-left a {
  display: block;
  margin-top: 10px;
  font-size: 17px;
  line-height: 40px;
  color: #fff;
  cursor: pointer;
}
.web-left a span {
  font-size: 12px;
  font-family: "iconfont";
  -webkit-transform: translatX(0);
  -moz-transform: translatX(0);
  -ms-transform: translatX(0);
  -o-transform: translatX(0);
  transform: translatX(0);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.web-left a:hover {
  color: #FF0000;
}
.web-left a:hover span {
  -webkit-transform: translateX(30px);
  -moz-transform: translateX(30px);
  -ms-transform: translateX(30px);
  -o-transform: translateX(30px);
  transform: translateX(30px);
}
.web-left ul {
  margin-top: 90px;
}
.web-left ul li a {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

.web-middle-l {
  float: left;
  width: 468px;
  height: 366px;
  margin-right: 20px;
}
.web-middle-l p {
  font: 20px/172px "微软雅黑";
  color: #fff;
  text-align: center;
}
.web-middle-l p:first-child {
  width: 100%;
  background: url(../images/web-1.jpg) no-repeat;
  margin-bottom: 21px;
}
.web-middle-l p.next:last-child {
  width: 100%;
  height: 172px;
  background: url(../images/web-2.jpg) no-repeat;
}

.web-middle-r #model-item {
  margin-bottom: 21px;
}

.web-right {
  float: left;
  width: 224px;
  height: 366px;
 
}
.web-right #model-item {
  margin-right: 0;
  box-shadow: 0 0 3px;
}
.web-right .web-right-b {
  position: absolute;
  margin-top: 175px;
  width: 224px;
  height: 198px;
  background: #fff;
  padding-top: 60px;
  box-sizing: border-box;
  box-shadow: 0 0 6px #666;
}
.web-right .web-right-b a {
  position: relative;
  display: block;
  padding-left: 30px;
}
.web-right .web-right-b a:before {
  content: "";
  position: absolute;
  margin-left: -15px;
  margin-top: 10px;
  width: 0;
  border: 2px solid;
}
.web-right .web-right-b a:hover {
  color: #FF0000;
}
.web-right .web-right-b span {
  position: absolute;
  width: 224px;
  background: #fff;
  height: 40px;
  margin-top: -65px;
}
.web-right .web-right-b span:after {
  content: "";
  position: absolute;
  display: block;
  width: 200px;
  margin: 10px 10px;
  border-top: 1px solid #ddd;
}

section.java {
  margin-top: 0;
}

section.java .web-left {
  background: url(../images/Java.png);
}

section.java .web-middle-l {
  width: 712px;
}
section.java .web-middle-l p.text {
  background: url(../images/5833b5cd00013a8907120172.jpg) no-repeat;
}
section.java .web-middle-l li#model-item:last-child {
  margin-right: 0;
}

section.java .web-right {
  margin-top: 0;
}

section.android .web-left {
  background: url(../images/Android.png);
}

section.android .web-middle-l p.text {
  background: url(../images/5833b69a0001a35007120172.jpg) no-repeat;
}

section.android div.container {
  padding: 50px 0 70px;
}

.index-footer {
  min-width: 1339px;
}
.index-footer .contain {
  width: 1200px;
  margin: 0 auto;
}

.footer-icon {
  width: 220px;
  margin: 0 auto;
}

.footer-icon a {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-top: 30px;
  cursor: pointer;
  background: url(../images/idx-btm.png) 0 80px;
  background-color: #FF0000;
}

a.sina {
  background: url(../images/idx-btm.png) 0 80px;
}

a.sina:hover {
  background: url(../images/idx-btm.png) 0 40px;
}

a.weixin {
  background: url(../images/idx-btm.png) -50px 80px;
}

a.weixin:hover {
  background: url(../images/idx-btm.png) -50px 40px;
}

a.tx {
  background: url(../images/idx-btm.png) -100px 80px;
}

a.tx:hover {
  background: url(../images/idx-btm.png) -100px 40px;
}

a.qqkj {
  background: url(../images/idx-btm.png) -147px 80px;
}

a.qqkj:hover {
  background: url(../images/idx-btm.png) -147px 40px;
}

.footer-line ul {
  margin: 10px 0 15px 310px;
}

.footer-line li {
  display: inline-block;
  margin-left: 30px;
}

.footer-line li a {
  font: 14px/50px "微软雅黑";
  color: #567;
}

.footer-line li a:hover {
  color: #be3948;
}

.icp {
  margin: 0 auto;
  text-align: center;
  font: 14px/50px "微软雅黑";
  color: #567;
}

