@charset "UTF-8";
body {
  background: #ddd;
  font-family: "microsoft yahei";
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

html {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: 'iconfont';
  /* project id 228489 */
  src: url("//at.alicdn.com/t/font_11ia6byuq6vcmcxr.eot");
  src: url("//at.alicdn.com/t/font_11ia6byuq6vcmcxr.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_11ia6byuq6vcmcxr.woff") format("woff"), url("//at.alicdn.com/t/font_11ia6byuq6vcmcxr.ttf") format("truetype"), url("//at.alicdn.com/t/font_11ia6byuq6vcmcxr.svg#iconfont") format("svg");
}
.iconfont {
  font-family: "iconfont";
}

#highpage {
  position: relative;
  width: 400%;
  height: 100%;
  display: -webkit-box;
  pointer-events: none;
  -webkit-transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  overflow: hidden;
  transition: all .3s ease-in;
}

* {
  padding: 0;
  margin: 0;
}

/*固定区域*/
.header-fixed {
  position: absolute;
  top: 0;
  width: 100%;
  font-size: 16px;
  font-family: "微软雅黑";
  color: #fff;
  line-height: 50px;
  background: #222;
  font-size: 16px;
  z-index: 1;
}

.footer-fixed {
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 0;
  font-size: 14px;
  text-align: center;
  font-family: "微软雅黑";
  color: #000;
  line-height: 50px;
  background: #ddd;
}

.footer-fixed:before {
  content: "";
  position: absolute;
  left: -50%;
  width: 200%;
  height: 1px;
  border-top: 1px solid #ddd;
  -webkit-transform: scale(0.5);
}

.header-fixed span {
  padding: 0 10px;
}

.header-fixed .little {
  font-size: 14px;
  padding: 0 6px;
}

.footer-fixed ul {
  width: 100%;
}

.footer-fixed ul li {
  float: left;
  list-style: none;
  width: 25%;
  background: #fff;
  color: #666;
  line-height: 40px;
}

/*页面区域*/
.first-page {
  position: relative;
  float: left;
  width: 25%;
  height: 100%;
  background: #ddd;
}
.first-page .middle {
  margin: 51px 0 45px;
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  padding-top: 20px;
}

.floatl {
  float: left;
}

.floatr {
  float: right;
}

.space {
  margin-bottom: 20px;
  background: #fff;
}

/*第四页*/
.four-top {
  height: 50px;
  padding: 5px 15px;
  background: #fff;
}
.four-top img {
  position: absolute;
  width: 50px;
  height: 50px;
}
.four-top p {
  margin-left: 60px;
}
.four-top p.name {
  font-size: 15px;
  margin-top: 5px;
}
.four-top p.number {
  font-size: 14px;
  color: #999;
}

.middle-body {
  padding: 0px 15px;
}
.middle-body span {
  margin-right: 20px;
}
.middle-body li {
  line-height: 35px;
  padding: 5px 0;
}
.middle-body li.line {
  position: relative;
  left: -50%;
  height: 1px;
  width: 200%;
  padding: 0;
  border-top: 1px solid #ddd;
  -webkit-transform: scale(0.5);
}

/*第三页*/
.body-sort {
  position: relative;
  margin-top: -20px;
  line-height: 20px;
  background: #f5f5f5;
}

/*第二页*/
.two-index .middle {
  padding-top: 0;
}

.two-icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  vertical-align: middle;
  background: #FF7F24;
  text-align: center;
  line-height: 35px;
  color: #fff;
  font-size: 24px;
}

.more-icon {
  background: #32CD32;
}

.label-icon {
  background: #4682B4;
}

/*第一页*/
.first-index .middle {
  padding-top: 0;
  background: #fff;
}

.first-middle {
  position: relative;
  padding: 10px 15px 5px;
  background: #fff;
  height: 50px;
}
.first-middle:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 200%;
  margin-left: -55%;
  border-top: 1px solid #ddd;
  -webkit-transform: scale(0.5);
}
.first-middle .middle-left img {
  position: absolute;
  width: 45px;
  height: 45px;
}
.first-middle .middle-right {
  margin-left: 58px;
}
.first-middle .middle-right .infoname {
  font-size: 14px;
}
.first-middle .middle-right .title {
  width: 90%;
  font-size: 13px;
  color: #999;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.first-middle .middle-aside p {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 13px;
  color: #999;
}

/*# sourceMappingURL=css.css.map */
