body{
	padding-top: 80px;
	overflow-x: hidden;
}
@media  screen  and (max-width: 700px) {
	body{
		padding-top: 50px;
	}	
}
.navbar-brand .len{display:inline-block;width: 40px;}
.list-group-item .glyphicon{padding: 0 20px;}
.position{position:relative;}
.row .main-top{margin-top: 20px;}
.flows{max-height: 450px; overflow:auto;padding-right:5px;}
.flows .btn{border:none;padding: 6px 3px;}
.form-horizontal .form-group .error{color: #FF0000;}
.page-header{text-align: center;}
.mybtn{line-height: 30px;text-align: center;background: #;width: 100%;display: block;}

::-webkit-scrollbar{
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb{
	background-color: rgba(0,0,0,.3);
	border-radius: 6px;
}
::-webkit-scrollbar-track{
	background-color: rgba(0,0,0,.1);
	border-radius: 6px;
}